ul {
    list-style-image: url();
    list-style-type: square;
    list-style-position: outside;
    font-size: 100%;
    list-style-image: linear-gradient(to top left, red, blue, yellow);
}
li:marker{
    color: red;
}



ol {
    list-style-type: upper-alpha;
}  